In [ ]:
# !pip install pandas

In [10]:
import os
import pandas as pd

In [11]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [12]:
os.listdir(DATA_DIR)

['2020.csv',
 '2019.csv',
 '2018.csv',
 '2001.csv',
 '2015.csv',
 '2014.csv',
 '2000.csv',
 '2016.csv',
 '2002.csv',
 '2003.csv',
 '2017.csv',
 '2013.csv',
 '2012.csv',
 '2004.csv',
 '2010.csv',
 '2011.csv',
 '2005.csv']

In [15]:
my_data = os.path.join(DATA_DIR, '2019.csv')
df = pd.read_csv(my_data)

In [16]:
df.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
5,6,Joker,"$1,074,251,311","$335,451,311",31.2%,"$738,800,000",68.8%
6,7,Star Wars: Episode IX - The Rise of Skywalker,"$1,074,144,248","$515,202,542",48%,"$558,941,706",52%
7,8,Toy Story 4,"$1,073,394,593","$434,038,008",40.4%,"$639,356,585",59.6%
8,9,Aladdin,"$1,050,693,953","$355,559,216",33.8%,"$695,134,737",66.2%
9,10,Jumanji: The Next Level,"$796,575,993","$316,831,246",39.8%,"$479,744,747",60.2%